@model PaginationViewModel<EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="header-container">
    <h1>Employee List</h1>
    <form asp-action="Index" method="get">
        <div class="d-flex">   
            <input type="text" name="searchText" id="searchBox" value="@Model.SearchText" placeholder="Search by ID or Name" class="form-control" />
            <button type="submit" class="border border-0 bg-transparent search-btn"><i class="bi bi-search" style="font-size:24px;"></i></button>
        </div>
    </form>
</div>
<hr/>
<div class="d-flex gap-3">
<p>
    <a asp-action="Create" asp-controller="Home" class="btn btn-outline-primary btn-sm">Create New</a>
</p>
    <div class="d-flex justify-content-between mb-3">

        <div class="d-flex gap-1">
            <label class="fw-semibold fs-5">Show</label>
                <select id="pageSize" class="form-select-sm">

                    <option value="5" selected="@(Model.PageSize == 5)">5</option>

                    <option value="10" selected="@(Model.PageSize == 10)">10</option>

                    <option value="15" selected="@(Model.PageSize == 15)">15</option>

                    <option value="20" selected="@(Model.PageSize == 20)">20</option>

                </select>
        </div>
    </div>
</div>
        <div class="table-responsive" id="employee-table">
           <partial name="_EmployeeTable" model="Model"></partial>
        </div>
@if (TempData["SuccessfullyCreatedEmployee"] != null)
{
    <input type="hidden"
           id="successfullyCreatedEmployee"
           value="@TempData["SuccessfullyCreatedEmployee"]" />
}
@if (TempData["employeeUpdateSuccessully"] != null)
{
    <input type="hidden"
           id="employeeUpdateSuccessully"
           value="@TempData["employeeUpdateSuccessully"]" />
}
@if (TempData["DeletedEmployee"] != null)
{
    <input type="hidden"
           id="employeeDeletedSuccessully"
           value="@TempData["DeletedEmployee"]" />
}